



@media screen and (min-width: 1024px) and (max-width: 1439px){

    .header{
        padding-left: 32px;
        padding-right: 32px;
        min-height: 76px;
    }

    .footer{
        padding-left: 32px;
        padding-right: 32px;
    }

    .footer__top-level_left-position_links{
        gap: 30px;
    }

    .header__burger{
        display: none;
    }

    .header__button, .header__navbar{
        display: flex;
    }

    .footer__top-level_right-position_social{
        gap: 40px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px){

    .header{
        padding-left: 20px;
        padding-right: 20px;
        min-height: 76px;
    }

    .footer{
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer__top-level{
        flex-wrap: wrap;
    }
    
    .header__navbar_list{
        gap: 16px;
    }

    .footer__top-level_left-position_links{
        gap: 30px;
    }


    .header__navbar, .header__button{
        display: flex;
    }

    .header__burger{
        display: none;
    }

    .footer__top-level_right-position_social{
        gap: 40px;
    }

}

@media screen and (min-width: 414px) and (max-width: 767px){

    .header{
        padding-left: 20px;
        padding-right: 20px;
        min-height: 72px;
    }

    .footer{
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer__top-level{
        flex-wrap: wrap;
    }

    .header__burger{
        display: flex;
    }

    .header__button, .header__navbar{
        display: none;
    }

    .footer__top-level_right-position_social{
        gap: 20px;
    }
}

@media screen and (min-width: 320px) and (max-width: 413px){

    .header {
        padding-left: 16px;
        padding-right: 16px;
        min-height: 56px;
    }

    .footer{
        padding-left: 16px;
        padding-right: 16px;

    }

    .footer__top-level_right-position_social{
        gap: 20px;
    }
    
    .footer__top-level_left-position_links{
        
    }

    .footer__top-level{
        flex-wrap: wrap;
    }

    .header__burger{
        display: flex;
    }

    .header__button, .header__navbar{
        display: none;
    }
}

