@media(min-width: 1440px){
    .header{
        padding-left: 120px;
        padding-right: 120px;
    }
}

@media(min-width: 1024px){
    .header{
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media(min-width: 768px){
    .header{
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media(min-width: 414px){
    .header{
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media(min-width: 320px){
    .header{
        padding-left: 16px;
        padding-right: 16px;
    }
}