.footer{
    margin: 0;
    padding: 0;
    background-color: #2963A3;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
}

.footer__top-level{
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-left: 0;
    padding-bottom: 24px;
}

.footer__top-level_left-position_links{
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    white-space: nowrap;
    justify-content: space-between;
    gap: 93px;
}

[class^="link__list-"]{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
}

[class^="link__list-"] li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}

.footer__top-level_center-position_mailings{
    display: flex;
    flex-flow: column wrap;
    width: 486px;
}

.footer__top-level_center-position_mailings span{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    white-space: wrap;
    color: white;
    font-size: 12px;
    letter-spacing: 0.25px;
    margin-top: 8px;
}

.footer__top-level_input-form_form{
    display: flex;
    flex-flow: row nowrap;
    background-color: white;
    border-color: #9D9D9D 20% 1px solid;
    border-radius: 4px;
    height: 48px;
    width: 384px;
    padding: 0;
    margin: 0;
    margin-top: 8px;
}

.footer__top-level_input-form_form input{
    border: none;
    border-radius: 4px 0 0 4px;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-left: 16px;
    padding-bottom: 14px;
    padding-top: 14px;
}

.footer__top-level_input-form_form button{
    border: none;
    border-radius: 4px;
    background-color: #16C8BB;
    cursor: pointer;
    padding: 12px 20px;
}

.footer__top-level_input-form_form button img{
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    align-content: center center;
}

.footer__top-level_input-form h2{
    display: flex;
    flex-flow: column wrap;
    white-space: wrap;
    color: white;
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
    margin: 0;
    padding: 0;
    padding-bottom: 8px;
    padding-right: 28px;
    font-size: 18px;
    width: 356px;
}

.social__partner_icon_border{
    width: 100px;
    height: 50px;
}

.social__links{
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
    padding: 0;
    margin: 0;
}

.footer__top-level_right-position_social{
    display: flex;
    flex-flow: column nowrap;
    align-content: space-between;
    margin: 0;
    padding: 0;
    width: 221px;
    height: 122px;
}

.social__partner{
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 50px;
    width: 100%;
}

.social__partner img{
    width: 100px;
    height: 50px;
}

.social__links{
    margin: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
    padding-bottom: 0;
}

.footer hr{
    border: #9D9D9D 100% 1px solid;
    margin: 0;
    padding: 0;
    padding-left: 120px;
    padding-right: 120px;
}

.footer__bottom-level{
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    white-space: wrap;
    gap: 48px;
    margin: 0;
    padding: 0;
    padding-top: 16px;
    padding-left: 0;
    padding-bottom: 17px;
}

.footer__bottom-level a{
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-size: 14px;
    margin: 0;
    padding: 0;
    line-height: 20px;
}

