main{
    margin: 0;
    padding: 0;
    padding-left: 120px;
    padding-right: 120px;
}
.nav__info{
    margin: 0;
    padding: 0;
    margin-top: 16px;
    margin-bottom: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;
    column-gap: 8px;
    width: 100%;
    cursor: pointer;
}

.nav__info div{
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: 4px;
}

.content__secion h1{
    margin: 0;
    padding: 0;
    margin-bottom: 32px;
}

.content__secion_filter{
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    column-gap: 8px;
    width: 100%;
    gap: 8px;
}

.content__secion_filter div{
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border: #C1C5CD 1px solid;
    border-radius: 24px;
    cursor: pointer;
    padding: 6px 8px;
}

[class^="bottom__secion_layer"]{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
    width: 100%;
}

.top__content_filling_image{
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.content__secion_first-level{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 24px;
    width: 100%;
}

.content__secion_second-level{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    width: 100%;
}

article{
    margin: 0;
    padding: 0;
    border: #DEDEDE 1px solid;
    margin-top: 24px;
    min-width: 304px;
    border-radius: 16px;
    cursor: pointer;
}

.top__content{
    margin: 0;
    padding: 0;
    position: relative;
}

.top__content_filling_category{
    margin: 0;
    padding: 0;
    position: absolute;
}

.top__content_filling_category div{
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border: #C1C5CD 1px solid;
    border-radius: 24px;
    cursor: pointer;
    padding: 6px 8px;
    width: fit-content;
    background: rgba(255, 255, 255, 0.7);
    margin-top: 8px;
    margin-left: 8px;
    gap: 8px;
    font-size: 14px;
}

.bottom_content{
    margin: 0;
    padding: 0;
    padding: 16px;
}

.content__secion_button{
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 24px;
}

.content__secion_button button{
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 4px;
    padding: 6px 8px;
    cursor: pointer;
    font-size: 16px;
    padding: 12px 72px;
    margin-top: 32px;
    margin-bottom: 72px;
    background-color: #35B3A9;
    color: white;
}

.content__secion_filter span{
    font-size: 14px;
}

h2{
    font-size: 18px;
    line-height: 26px;
    color: #333333 100%;
}

p{
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.25px;
    color: white 100%;
}

.bottom_content div span{
    font-size: 14px;
    line-height: 20px;
    color: #333333 100%;
}

.bottom_content div time{
    font-size: 12px;
    line-height: 18px;
    color: #868686 100%;
}