main{
    margin: 0;
    padding: 0;
    padding-left: 120px;
    padding-right: 120px;
}

.top__secion{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
    width: 100%;
}

[class^="bottom__secion_layer"]{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
    width: 100%;
}

.top__content_filling_image{
    width: 100%;;
}

.content__secion_first-level{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 24px;
    width: 100%;
}

.content__secion_second-level{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 24px;
    width: 100%;
    margin-bottom: 24px;
}

article{
    margin: 0;
    padding: 0;
    border-radius: 5PX;
    border-color: #DEDEDE 100% 1px solid;
    width: 100%;
    height: 100%;
}

.bottom_content{
    border-color: #DEDEDE 100% 1px solid;
    margin: 0;
    padding: 0;
}