*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    margin: 0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 76px;
    margin: 0;
    padding: 0;
    border-bottom: black solid 1px;
}

@media screen and (min-width: 1440px){
    .header{
        padding-left: 120px;
        padding-right: 120px;
        height: 76px;
    }
}

@media screen and (min-width: 1024px){
    .header{
        padding-left: 32px;
        padding-right: 32px;
        height: 76px;
    }
}

@media screen and (min-width: 768px){
    .header{
        padding-left: 20px;
        padding-right: 20px;
        height: 76px;
    }
}

@media screen and (min-width: 414px){
    .header{
        padding-left: 20px;
        padding-right: 20px;
        height: 72px;
    }
}

@media screen and (min-width: 320px){
    .header{
        padding-left: 16px;
        padding-right: 16px;
        height: 56px;
    }
}

.header__navbar{
    margin: 0;
    padding: 0;
}

.header__navbar_list{
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    gap: 20px;
    font-size: 14px;
}

.header__navbar_list li{
    list-style: none;
    cursor: pointer;
}
.header__navbar_list li a{
    text-decoration: none;
    color: black;
}

.header__logo img{
    margin: 0;
    padding: 0;
}

.main{
    margin: 0;
    padding: 0;
    padding-left: 8vw;
    padding-right: 8vw;
}

.footer{
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0;
    padding-bottom: 17px;
    padding-left: 8vw;
    padding-right: 8vw;
    background-color: #2963A3;
}

.footer__bottom-level{
    display: flex;
    flex-wrap: nowrap;
    gap: 48px;

}
.footer__top-level{
    color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.footer__top-level_left-position_links{
    display: flex;

    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0
}