*{
    border: black 1px solid;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 76px;
    background-color: rgb(172, 131, 211);
    border-bottom: black 1px solid;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 76px;
    background-color: rgb(172, 131, 211);
    border-bottom: black 1px solid;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}

.conteiner__navbar_list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    position: fixed;
    gap: 30PX;
}

.conteiner__navbar_list a{
    text-decoration: none;
    
}


@media (min-width: 1440px) {
    
}

@media (min-width: 1024) {
    
}

@media (min-width: 768) {
    
}

@media (min-width: 414) {
    
}

@media (min-width: 320) {
    
}